<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-primary"> Lista de Roles</h2>
    
  </div>

  <table class="table table-hover table-bordered align-middle shadow-sm">
    <thead class="table-primary text-center">
      <tr>
        <th>ID</th>
        <th>Privilegio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let rol of roles">
        <td>{{ rol.idRol }}</td>
        <td>{{ rol.privilegio }}</td>
        <td>
          <button class="btn btn-outline-warning btn-sm me-2" (click)="editarRol(rol.idRol)">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button class="btn btn-outline-danger btn-sm" (click)="eliminarRol(rol.idRol)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
      <tr *ngIf="roles.length === 0">
        <td colspan="3" class="text-muted">No hay roles registrados.</td>
      </tr>
    </tbody>
  </table>
</div>
